html{
    background-image: url('fundo.jpg');
    background-size: cover;
    background-position: center;
}
body {
    font-style: italic;
    font-size: large;
    margin: 0%;
    padding: 0%;
    justify-content: center;
}
.conteiner{
    padding: 0.2%;
    margin: 5%;
    border: 1px solid black;
    background-color:  rgb(255, 255, 255);
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgb(0, 0, 0);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.titulo{
    margin: 5px;
    padding: 15px;
}
.info{
    margin: 0.5%;
    padding: 1.5%;
    display: flex;
    align-items: flex-end;
}
#print{
    width: 40%;
    height: 55%;
    margin: 2%
}

.banner{
    margin: 5%;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.text-banner{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 5%;
    margin: 5%;
    font-family: 'Caudex', serif;
}

h2{
    font-size: 150%;
    margin: 5%;
}
p{
    margin: 1.5%;
}